.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-container.hidden {
    display: none;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff2468;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
}